<div class="container">
  <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        [(ngModel)]="model.name"
        name="name"
        #name="ngModel"
        [pattern]="namePattern"
        required
      />
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
        Name is required
      </div>
    </div>
    <div class="form-group">
      <label for="name">Description</label>
      <input
        type="text"
        class="form-control"
        id="description"
        [(ngModel)]="model.description"
        name="description"
        #description="ngModel"
      />
      <div
        [hidden]="description.valid || description.pristine"
        class="alert alert-danger"
      >
        Name is required
      </div>
    </div>

    <button
      type="submit"
      class="btn btn-success"
      [disabled]="heroForm.form.invalid"
    >
      Submit
    </button>
    <button
      type="button"
      class="btn btn-default"
      (click)="newHero(); heroForm.reset()"
    >
      New Hero
    </button>
  </form>
</div>
