<div class="mb-3">
  <label for="" class="form-label"><b>Hero Name</b></label>
  <input
    [(ngModel)]="heroName"
    type="text"
    class="form-control"
    name=""
    id=""
    aria-describedby="helpId"
    placeholder=""
  />
</div>
<div class="mb-3">
  <label for="" class="form-label"><b>Hero Description</b></label>
  <input
    [(ngModel)]="heroDescription"
    type="text"
    class="form-control"
    name=""
    id=""
    aria-describedby="helpId"
    placeholder=""
  />
</div>
<button
  type="button"
  class="btn btn-primary mx-3"
  (click)="addHero()"
  [disabled]="heroName === ''"
>
  Add Hero
</button>

<button
  type="button"
  class="btn btn-primary "
  (click)="sendHero()"
  [disabled]="heroName === ''"
>
  Send Hero
</button>

