<ul class="list-group list-group-numbered mt-3">
  @for (hero of heroes; track $index) {
  <li class="list-group-item">
    <b>{{ hero.name }}:</b> {{ hero.description }}
    <br/>
    <button
      type="button"
      class="btn btn-danger btn-sm"
      (click)="deleteHero($index)"
    >
      Delete Hero
    </button>
    
  </li>
  }
</ul>
