@if (apod !== null) {
  <div class="row align-items-md-stretch">
    <div class="col-md-12">
      <div class="h-100 p-5 bg-light border rounded-3">
        <h2>{{ apod.title }}</h2>
        <h6>{{ apod.date }}</h6>
        @if (this.apod.isImage) {
        <img [src]="apod.url" alt="" style="width: 800px" />
        } @else if(this.apod.isVideo){
        <youtube-player [videoId]="this.apod.videoId" />
        }
        <p>
          {{ apod.explanation }}
        </p>
      </div>
    </div>
  </div>
}
