<div class="container">
  <!-- <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" (click)="previousPage()" >Previous</a></li>
      @for (item of fakeArray; track $index) {
        <li class="page-item"><a class="page-link" (click)="handlePage($index + 1)">{{$index}}</a></li>
      }
      <li class="page-item"><a class="page-link" (click)="nextPage()">Next</a></li>
    </ul>
  </nav> -->
  <!-- <ngb-pagination [collectionSize]="beers.length" [pageSize]="8" [(page)]="currentPage" (pageChange)="handlePage($event)" aria-label="Default pagination" /> -->
  <ngx-slider [(value)]="lowValue" [(highValue)]="highValue" [options]="options"></ngx-slider>
  <div class="row justify-content-center align-items-center g-2">
    @for (beer of beers | filterBeersPipe : lowValue : highValue | async; track $index) {
    <div class="col-sm-12 col-xs-12 col-md-6 col-lg-4 col-xl-3">
      <div class="card">
        <img class="card-img-top mx-auto" [src]="beer.imageUrl" alt="Title" style="width: 80px;"/>
        <div class="card-body">
          <h4 class="card-title">{{beer.name}}</h4>
          <p class="card-text">{{beer.tagline}}</p>
          <p class="card-text">{{beer.abv| abv : 'r'}}</p>
          <a [routerLink]="'/beers/'+beer.id" class="btn btn-primary">Details</a>
        </div>
      </div>
    </div>
    }
  </div>
</div>
