<div class="container">
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="" class="form-label">Name</label>
      <input
        type="text"
        class="form-control"
        formControlName="name"
        id=""
        aria-describedby="helpId"
        placeholder=""
      />
      <div [hidden]="profileForm.get('name')?.valid|| profileForm.get('name')?.pristine" class="alert alert-danger">
        Error: {{profileForm.get('name')?.errors | json}}
      </div>
    </div>
    <div class="mb-3" [hidden]="!profileForm.get('name')?.valid">
      <label for="" class="form-label">Description</label>
      <input
        type="text"
        class="form-control"
        formControlName="description"
        id=""
        aria-describedby="helpId"
        placeholder=""
      />
      <small id="helpId" class="form-text text-muted">Help text</small>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="!profileForm.valid">Submit</button>
  </form>
</div>
