<!-- Calculator Body -->
<div class="calc-body">
  <!-- Calculator Display Screen -->
  <app-display [myDisplay]="display" [myResult]="result"></app-display>
  <!-- Calculator Buttons -->
  <app-keyboard (onButtonPressed)="handleClick($event)"></app-keyboard>
</div>
