<div class="container">
  <div class="row align-items-md-stretch">
    @if (beer !== undefined) {
    <div class="col-md-12">
      <div class="h-100 p-5 bg-light border rounded-3">
        <h2>{{ beer.name }}</h2>
        <div class="container-fluid d-flex">
          <img [src]="beer.imageUrl" [alt]="beer.name" class="mx-auto" />
        </div>
        <p>
          {{ beer.description }}
        </p>
      </div>
    </div>
    }
  </div>
</div>
