<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId"
      aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav me-auto mt-2 mt-lg-0">
        <li class="nav-item"><a class="nav-link active" routerLink="/calculator" routerLinkActive="active">Calculator</a></li>
        <li class="nav-item"><a class="nav-link active" routerLink="/heroes" routerLinkActive="active">Heroes</a></li>
        <li class="nav-item"><a class="nav-link active" routerLink="/apod" routerLinkActive="active">Apod</a></li>
        <li class="nav-item"><a class="nav-link active" routerLink="/beers" routerLinkActive="active">Beers</a></li>
        <li class="nav-item"><a class="nav-link active" routerLink="/forms" routerLinkActive="active">Forms</a></li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
