<div class="calc-button-row">
    <button (click)="handleClick(7)">7</button>
    <button (click)="handleClick(8)">8</button>
    <button (click)="handleClick(9)">9</button>
    <button (click)="handleClick('*')" class="opt">&#215;</button>
    <button (click)="handleClick(4)">4</button>
    <button (click)="handleClick(5)">5</button>
    <button (click)="handleClick(6)">6</button>
    <button (click)="handleClick('-')" class="opt">&#8722;</button>
    <button (click)="handleClick(1)">1</button>
    <button (click)="handleClick(2)">2</button>
    <button (click)="handleClick(3)">3</button>
    <button (click)="handleClick('+')" class="opt">&#43;</button>
    <button (click)="handleClick('AC')" class="ac">AC</button>
    <button (click)="handleClick(0)">0</button>
    <button (click)="handleClick('=')" class="opt">&#61;</button>
    <button (click)="handleClick('/')" class="opt">&#247;</button>
</div>
